@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLKATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    // Burası Kategori Listeleme Sayfası
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ İD</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var kategori in Model)
        {
            <tr>
                <th>@kategori.KATEGORIID</th> <!--İlk sıraya id gelsin-->
                <td>@kategori.KATEGORIAD</td><!-- İkinci sıraya ad gelsin (table data)-->
                <td><a href="~/KATEGORI/KategoriSil/@kategori.KATEGORIID" class="btn btn-danger">SİL</a></td>
                <td><a href="~/KATEGORI/KategoriGetir/@kategori.KATEGORIID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page })) <!--yönlendir ve sayfa oluştur.-->

<a href="/KATEGORI/YeniKategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>